.gridWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    position: relative;
}

.loader {
    position: absolute;
    height: 100%;
    width: 100%;
}

.listWrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.product {
    background: #dadada;
    padding: 10px;
    border-radius: 10px;
}

.preview {
    width: calc(100% + 20px);
    margin: -10px 0 0 -10px;
    border-radius: 10px 10px 0 0;
}

.text {
    text-align: center;
    position: relative;
}

.text h3 {
    font-size: 14px;
    height: 40px;
}

.text h2 {
    font-size: 18px;
    margin: 10px 0 5px;
}

@media (max-width: 1100px)  {
    .gridWrap {
        grid-template-columns: repeat(2, 1fr);
    }
}