.loader {
    width: 100%;
    height: 100%;
    position: absolute;
}

.textNoSneakers{
    grid-column: 1/4;
    padding: 100px;
    height: 30px;
}

.imgWrap {
    position: relative;
}

.favouriteImg {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 30px;
    padding: 5px;
    background-color: rgba(246, 246, 246, 0.7);
    border-radius: 5px;
    cursor: pointer;
}

.favouriteImgGrid {
    bottom: 10px;
}

.favouriteImg:hover {
    background-color: rgba(246, 246, 246, 0.9);
}

.selectedFavourite {
    background-color: rgba(93, 197, 255, 0.7);
}

.selectedFavourite:hover {
    background-color: rgba(93, 197, 255, 0.9);
}

.gridWrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    position: relative;
    text-align: center;
}

.gridProduct {
    background: #dadada;
    border-radius: 10px;
}

.product:hover {
    box-shadow: 0 0 5px 2px;
    cursor: pointer;
}

.gridPreview {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.gridText {
    text-align: center;
    position: relative;
    padding: 10px;
}

.gridText h3 {
    font-size: 14px;
    height: 40px;
}

.gridText h2 {
    font-size: 18px;
    margin: 10px 0 5px;
}


.listWrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    position: relative;
    grid-auto-rows: 230px;
    text-align: center;
}

.listProduct {
    background: #dadada;
    border-radius: 10px;
    display: flex;
}

.listPreview {
    height: 100%;
    border-radius: 10px 0 0 10px;
}

.listText {
    position: relative;
    padding: 30px;
    text-align: left;
}

.listText h3 {
    height: 100px;
}

.listText h2 {
    position: absolute;
    bottom: 30px;
}


@media (max-width: 1100px)  {
    .gridWrap {
        grid-template-columns: repeat(2, 1fr);
    }
    .listWrap {
        grid-auto-rows: 180px;
    }
}