.wrap {
    position: relative;
}

.preview {
    width: calc(100% - 50px);
    border-radius: 5px;
}

.soldOut {
    position: absolute;
    left: 0;
    width: calc(100% - 50px);
    border-radius: 5px;
    opacity: 30%;
}

.infoWrap {
    width: calc(100% - 50px);
    padding: 5px 5px 10px;
    height: 30px;
    position: relative;
}

.starsImg {
    width: 150px;
    z-index: 1;
    position: absolute;
}

.percentage {
    position: absolute;
    height: 30px;
    background-color: #5dc5ff;
}

.orders {
    position: absolute;
    right: 15px;
}