.wrap {
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

.wrap h1 {
    margin-bottom: 10px;
}

.inputWrap {
    padding: 15px 120px 0 0;
    width: 560px;
    margin: auto;
    display: flex;
}

.inputWrap input {
    margin: -5px 20px 10px 20px;
    width: 390px;
}

.emailIsRealInput:hover {
    cursor: not-allowed;
}

.inputWrap .passwordInput {
    width: 355px;
    padding-right: 40px;
}

.inputWrap h3 {
    width: 160px;
    text-align: right;
}

.authorizationButton {
    width: 200px;
    margin: 20px auto 0;
}

.eyeImage {
    width: 30px;
    position: absolute;
    margin: -5px 0 0 500px;
    padding: 5px;
    border-radius: 0 5px 5px 0;
}

.eyeImage:hover {
    cursor: pointer;
    background: #dadada;
}