.wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
}

.content {
    background: #dadada;
    width: 550px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    padding: 30px 50px 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.imageSpace {
    display: flex;
}

.canvasBackground {
    width: 300px;
    height: 300px;
    background: #1D1F22;
    display: flex;
    justify-content: center;
    outline: 3px solid black;
    position: absolute;
    overflow: hidden;
}

.canvas {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #333333;
}

.workspace {
    position: absolute;

    outline: 3px solid black;
    min-width: 25px;
    min-height: 25px;
    box-shadow: 0 0 0 300px rgba(0, 0, 0, 0.5);

    transition-property: width, height, top, left;
    transition-duration: 1ms;
}

.resizer {
    width: 10px;
    height: 10px;
    background: url("../../../dataStorage/images/App/resizer.png");
    background-size: 100%;
    position: absolute;
    cursor: se-resize;
    right: 0;
    bottom: 0;
}

.wrapPreview {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    margin-left: 300px;
}

.square {
    width: 180px;
    height: 180px;
    background: #333333;
    border-radius: 30px;
    margin: 0 auto 20px;
}