.wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
}

.content {
    background: #dadada;
    width: 420px;
    height: auto;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.formDataWrap {
    display: flex;
}

.inputTxt {
    width: 100px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding-top: 15px;
    text-align: right;
}

.inputTxt h3 {
    height: 60px;
}

.inputWrap {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.inputWrap input {
    width: 290px;
}

.phoneInputWrap {
    display: flex;
}

.phonePlus {
    width: 30px;
    height: 30px;
    background: #f6f6f6;
    border-radius: 5px 0 0 5px;
    margin-top: 10px;
    padding: 5px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
}

.phoneInput {
    width: 240px;
    border-radius: 0 5px 5px 0;
}

.passwordInputWrap {
    display: flex;
}

.inputWrap .passwordInput {
    width: 250px;
    border-radius: 5px 0 0 5px;
}

.eyeImage {
    width: 30px;
    position: absolute;
    margin: 10px 0 0 260px;
    padding: 5px;
    border-radius: 0 5px 5px 0;
    background: #f6f6f6;
}

.eyeImage:hover {
    cursor: pointer;
    background: #aaa;
}