.photoWrap {
    justify-content: center;
    background: #333333;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    margin-right: 20px;
}

.fileInput {
    width: 300px;
    height: 300px;
    margin: 0 0 0 -300px;
    border-radius: 30px;
    padding: 0;
    z-index: 1;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.noAvatar {
    padding: 100px;
    border-radius: 30px;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 30px;
    background-size: 100%;
    background-color: #333333;
}

.photoWrap:hover {
    outline: 3px solid black;
}