.wrap {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    text-align: center;
}

.sliderWrap {
    display: flex;
    margin: auto;
}

.arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url('../../../dataStorage/images/Card/arrow.jpg');
    background-size: 100%;
    margin-top: 95px;
}

.arrow:last-child {
    transform: rotate(180deg);
}

.arrow:hover {
    cursor: pointer;
    background-image: url('../../../dataStorage/images/Card/arrowHover.jpg');
}