.wrap {
    margin: auto;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.inputWrap {
    padding: 15px 120px 0 0;
    width: 560px;
    margin: auto;
    display: flex;
}

.inputWrap input {
    margin: -5px 20px 10px 20px;
    width: 390px;
}

.emailIsRealInput:hover {
    cursor: not-allowed;
}

.inputWrap .passwordInput {
    width: 355px;
    padding-right: 40px;
}

.loginTitle {
    margin-top: 50px;
}

.inputWrap h3 {
    width: 120px;
    text-align: right;
}

.inputWrap h3 span{
    color: #5dc5ff;
}

.wrap h4 {
    font-size: 16px;
    text-decoration: underline;
    margin: auto;
}

.wrap .recoveryLink {
    margin-top: 20px;
}

.wrap h4:hover {
    cursor: pointer;
    color: #5dc5ff;
}

.authorizationButton {
    width: 200px;
    margin: 20px auto 0;
}

.recoveryButton {
    margin-bottom: 50px;
}

.eyeImage {
    width: 30px;
    position: absolute;
    margin: -5px 0 0 500px;
    padding: 5px;
    border-radius: 0 5px 5px 0;
}

.eyeImage:hover {
    cursor: pointer;
    background: #dadada;
}

.wrap hr {
    border: none;
    border-radius: 5px;
    background-color: #333333;
    height: 3px;
    margin: 50px auto;
    width: 700px;
}