.wrap {
    display: flex;
    position: sticky;
    top: 0;
    padding: 0 100px;
    background: #333;
    color: white;
    z-index: 1;
}

.wrapRight {
    display: flex;
    float: right;
}

.logo {
    height: 65px;
    margin: auto;
    background: #333;
}

.imgLink {
    height: 30px;
    margin: 20px 0px 15px 15px;
}

.imgLink:hover{
    cursor: pointer;
}

.circle {
    position: absolute;
    margin: -55px 35px;
    background: #1D1F22;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
}

.numberInCircle{
    font-size: 14px;
    color: white;
}

.wrap{
    display: flex;
    float: left;
}

.page {
    margin: 20px 40px 20px 0;
}
.page:hover {
    cursor: pointer;
}

.selectedPage {
    margin: 20px 40px 20px 0;
    color: #5dc5ff;
}
.selectedPage:hover {
    cursor: pointer;
}
