.wrap {
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    min-width: 800px;
}

.wrap h5 {
    margin: 0 0 50px;
}

.textNoSneakers{
    padding: 50px 100px 100px;
    height: 30px;
    text-align: center;
}

.product {
    display: flex;
    height: 120px;
    margin-bottom: 15px;
    background: #dadada;
    border-radius: 10px;
    position: relative;
    transition: opacity 500ms ease-in-out;
}

.product:hover {
    box-shadow: 0 0 5px 2px;
    cursor: pointer;
}

.deletedProduct {
    opacity: 0;
}

.preview {
    height: 120px;
    border-radius: 10px 0 0 10px;
}

.productInfoWrap {
    padding: 10px;
    position: relative;
}

.productInfoWrap h1 {
    height: 70px;
}

.deleteBtnWrap {
    border-radius: 0 10px 10px 0;
    width: 20px;
    padding: 50px 15px;
    right: 0;
    position: absolute;
    height: 20px;
}

.deleteBtn {
    width: 20px;
    height: 20px;
    margin: 0;
}

.deleteBtnWrap:hover {
    background: rgba(0, 0, 0, 0.2);
}