html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.appWrapper {
  display: flex;
  flex-direction: column;
}

.contentWrap {
  padding: 0 100px;
  margin: auto;
}

a {
  color: black;
}

a h5 {
  width: 400px;
  text-decoration: underline;
}

a h5:hover {
  cursor: pointer;
  color: #5dc5ff;
}

h1 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 50px;
  padding: 0;
  margin: 50px auto;
  text-align: center;
}

input {
  border: none;
  outline: none;
  background: #f6f6f6;
  border-radius: 5px;

  margin: 10px 0;
  padding: 5px;
  height: 30px;
  font-size: 20px;
  font-family: Poppins;
}

input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

button {
  height: 50px;
  width: 200px;
  margin: auto;
  background: #333333;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;

  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  outline: 3px solid black;
}

hr {
  border: none;
  border-radius: 5px;
  background-color: #333333;
  height: 3px;
  margin: 50px auto;
  width: 700px;
}