html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.appWrapper {
  display: flex;
  flex-direction: column;
}

.contentWrap {
  padding: 0 100px;
}

a {
  color: black;
}

h1 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h3 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: Poppins;
  font-weight: 100;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
  background: #f6f6f6;
  border-radius: 5px;

  padding: 5px;
  height: 30px;
  font-size: 20px;
  font-family: Poppins;
}

input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

button {
  height: 50px;
  background: #333333;
  color: white;
  border: none;
  outline: none;
  border-radius: 10px;

  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  outline: 3px solid black;
}

/* LOADER */

.lds-spinner {
  display: inline-block;
  position: relative;
  margin: 300px auto;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #1D1F22;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
