.wrap {
    display: flex;
    flex-direction: column;
    padding: 50px 100px 0;
    text-align: center;
}

.wrap h1 {
    margin-bottom: 20px;
}

.photoAndTextWrap {
    display: flex;
    margin: auto;
}

.inputWrap {
    padding: 0 0 10px;
    width: 400px;
    margin: auto;
    display: flex;
}

.inputWrap:last-child {
    padding: 0;
}

.inputWrap input {
    margin: 0 0 10px 20px;
    width: 290px;
}

.inputWrap:last-child input {
    margin-bottom: 0;
}

.inputWrap .phoneInput {
    margin-left: 0;
    width: 242px;
    border-radius: 0 5px 5px 0;
    padding-left: 0;
}

.inputWrap .phonePlus {
    width: 30px;
    height: 30px;
    background: #f6f6f6;
    border-radius: 5px 0 0 5px;
    margin: 0 0 0 20px;
    padding: 5px;
    text-align: center;
}

.inputWrap h3 {
    margin-top: 5px;
    width: 100px;
    text-align: right;
}

.authorizationButton {
    width: 200px;
    margin: 10px auto 0;
}

.disabledBtn:hover {
    cursor: not-allowed;
}